.main__contact{
  display: flex;
  text-align: center;
  flex: 1 1 auto;
  &__txt-contact{
    font-size: 46px;
    text-align: center;
    padding: 20px 0;
    margin-top: 95px;
    margin-bottom: 50px;
    @media (max-width: 320px) {
      font-size: 30px;
    }
  }
  &__btn{
    margin-bottom: 64px;
    height: 60px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: black;
  }
}
