* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 1500px) {
      max-width: 1200px;
      margin: 0 auto;
  }

  @media (max-width: 1024px) {
      max-width: 800px;
      margin: 0 auto;
  }

  @media (max-width: 768px) {
      max-width: 700px;
      margin: 0 auto;
  }

  @media (max-width: 480px) {
      max-width: 420px;
      margin: 0 auto;
  }

  @media (max-width: 320px) {
      max-width: 300px;
      margin: 0 auto;
  }
}

.burger {
  display: none;

  @media (max-width: 768px) {
      display: block;
      cursor: pointer;
      height: 27px;
      width: 28px;
      margin: 50px;
      overflow: visible;
      position: relative;
      z-index: 2;
      top: -5px;
  }

  &__span {
      background: #fff;
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
  }

  &__span:before {
      background: #fff;
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
  }

  &__span:after {
      background: #fff;
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
  }

  &__menu {
      z-index: 1;
      min-height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      right: 8px;
      left: 2px;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
  }

  &__menu a {
      color: #cacaca;
      display: block;
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 30px;
      text-decoration: none;

      @media (max-width: 320px) {
          font-size: 24px;
          padding-top: 30px;
      }
  }

  &__menu li {
      display: block;
  }

  &__search-img {
      max-width: 12px;
      border: none;

      @media (max-width:480px) {
          width: 10px;
          height: 10px;
      }
  }

  &__search {
      padding-bottom: 5px;
  }

  &__search-input {
      padding: 10px;
      border-radius: 5px;
  }

  &__search-btn {
      padding: 10px;
      border-radius: 5px;
  }
}

#burger span {
  right: 0px;
  top: 13px;
  width: 28px;
}

#burger span:before {
  left: 0px;
  top: -10px;
  width: 28px;
}

#burger span:after {
  left: 0px;
  top: 10px;
  width: 28px;
}

#burger.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}

#burger.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 28px;
}

#burger.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
  left: -1px;
}